body {
  margin:0;
  padding:0;
  background: #ebebeb;
}
.ul_footer{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
}
.li_footer {
  list-style:none;
}
.a_footer {
  display:block;
  position:relative;
  width:100px;
  height:100px;
  line-height:100px;
  font-size:40px;
  text-align:center;
  text-decoration:none;
  color:#404040;
  margin: 0 30px;
  transition:.5s;
}
ul li a span {
  position:absolute;
  transition: transform .5s;
}
ul li a span:nth-child(1),
ul li a span:nth-child(3){
  width:100%;
  height:3px;
  background:#404040;
}
ul li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

ul li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4){
  width:3px;
  height:100%;
  background:#404040;
}
ul li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
ul li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.facebook:hover {
  color: #3b5998;
}
.facebook:hover span { 
  background: #3b5998;
}
.twitter:hover {
  color: #1da1f2;
}
.twitter:hover span { 
  background: #1da1f2;
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span { 
  background: #c32aa3;
}
.google:hover {
  color: #dd4b39;
}
.google:hover span { 
  background: #dd4b39;
}
/*ul li a .twitter {
  color: #1da1f2;
}
ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
ul li a:hover:nth-child(4) {
  color: #dd4b39;
}*/
body {
  /*background-color: transparent;*/
  background-color: #f0f0f0 ;
}


.navbar {
    background-color: #f0f0f0 ;
    /*margin:0, auto; */
    display: flex;
    font-family: verdana;
    justify-content: center;
    padding-top: 60px;
    /*border: 3px solid green;*/
}

/*#bg {
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}*/


/* lIST OF CONTACTS  */


/* TO DO WITH THE NAV BAR LIST ANIMATIONS */

ul {
  padding: 0;
  display: flex;
}


li {
  list-style-type: none;
  padding: 10px 20px;
}


a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  position: relative;
}

ul li a:before {
  content: "";
  width: 0;
  height: 5px;
  /*background-color: #00bcd4; FFFFFF*/
  background-color: silver;
  position: absolute;
  top: 120%;
  left: 0;
  transition: all 0.5s;
}

ul li a:after {
  content: "";
  width: 0;
  height: 5px;
  /*background-color: #f0f;*/
  background-color: lightgray;
  position: absolute;
  top: 120%;
  right: 0;
  transition: all 0.5s;
}

ul li a:hover:before {
  width: 50%;
  transform: translateX(100%);
}

ul li a:hover:after {
  width: 50%;
  transform: translateX(-100%);
}

.textbox{
  opacity: 0;
  font-size: 20px;
  font-family: verdana;
  padding-top: 30px;
  padding-left: 30px;
  animation: cssAnimation 2s linear 3.5s forwards;
}

@keyframes cssAnimation {
  to   { opacity: 1; }
}


/* BOX */
*{
  margin:0;
  padding:0;
}
.container {
  background: #f0f0f0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  background: #f0f0f0;
  box-shadow:  0 0 0 #cccccc,
               0 0 0 #ffffff,
                10px 10px 10px #cccccc inset,
                -10px -10px 10px #ffffff inset;
  animation: box_animation 3s cubic-bezier(0.16, 1, 0.3, 1) 1s forwards;
   /*animation-fill-mode: forwards; */
}

@keyframes box_animation {
  0% {
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
  }
  
  25% {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }

  50% {
    width: 60px;
    height: 240px;
    background: #f8f8f8;
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }

  100% {
    width: 960px;
    height: 480px;
    background: #fafafa;
    box-shadow:  40px 40px 40px #cccccc,
                 0 0 0 #ffffff,
                 0 0 0 #cccccc inset,
                 2px 2px 2px #ffffff inset;
  }
}



/* lLINKS OT OTHER SOCIALS */